<a href="https://colab.research.google.com/github/Madhu2303a51846/APPLICATIONS-OF-DATA-MINING/blob/main/ASS(2_5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [9]:
import pandas as pd

df = pd.read_csv('student-dataset.csv')

print(df.head())

   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  age  english.grade  math.grade  sciences.grade  \
0     31.31     120.62      F   22            3.5         3.7             3.1
1     34.39    -118.54      M   22            2.9         3.2             3.6
2     37.80    -122.27      F   22            3.9         3.8             3.2
3     37.69    -122.09      F   20            3.3         2.8             NaN
4    -23.18     -45.88      F   21            3.7         2.6             3.4

   language.grade  portfolio.rating  coverletter.rating  refletter.rating
0             1.0                 4                 4.0                 4
1             5.0                 5                 4.0                 5
2             5.0                 3                 3.0                 4
3             5.0                 5                 2.0                 4
4             1.0                 4                 4.0                 5

In [10]:
science_median = df['sciences.grade'].median()

df['sciences.grade'].fillna(science_median, inplace=True)

print(df['sciences.grade'].isnull().sum())

0

<ipython-input-10-f2ac16e6a75a>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sciences.grade'].fillna(science_median, inplace=True)

In [11]:
def min_max_scaling(column):
    return (column - column.min()) / (column.max() - column.min())

df['math_normalized'] = min_max_scaling(df['math.grade'])
df['sciences_normalized'] = min_max_scaling(df['sciences.grade'])
df['english_normalized'] = min_max_scaling(df['english.grade'])

print(df[['math_normalized', 'sciences_normalized', 'english_normalized']].head())

   math_normalized  sciences_normalized  english_normalized
0         0.842105             0.653846                0.80
1         0.578947             0.846154                0.56
2         0.894737             0.692308                0.96
3         0.368421             0.846154                0.72
4         0.263158             0.769231                0.88